@charset "UTF-8";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  padding-top: 120px;
}
a {
  text-decoration: none;
}
input, textarea {
  font-family: "KyoboHand", cursive;
}

/*.my_board {*/
/*    width: 95%;*/
/*    max-width: 500px;*/
/*    padding: 20px;*/
/*    margin: 20px auto;*/
/*}*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/