@charset "UTF-8";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  padding-top: 120px;
}
a {
  text-decoration: none;
}
input, textarea {
  font-family: "KyoboHand", cursive;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
