<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>대나무숲 - 익명 고민 상담소</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.2.1
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  {% include "header.html" %}
  <!-- End Header -->

  <!-- ======= Main ======= -->
  <main id="main">

    <!-- ======= Features Section ======= -->
    <div class="d-flex align-items-center my-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h1 data-aos="fade-down" class="mb-5">익명 고민 상담소 <i class="bi bi-chat-dots"></i></h1>
              <a data-aos="fade-up" data-aos-delay="200" href="/create" class="btn btn-primary btn-lg">고민 작성하기</a>
          </div>
        </div>
      </div>
    </div>
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <ul id="sort_wrap" class="nav nav-tabs row g-2 d-flex justify-content-center border-0 text-center">

          <li class="nav-item col-3">
            <a id="recent-sort" href="" class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>최신순</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a id="comment-sort" href="" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>댓글순</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a id="view-sort"  href="" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>조회순</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content my-5">

          <div class="tab-pane active show" id="tab-1">
            <div class="row justify-content-center">
              <div class="col-lg-9 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">

                <table class="table table-hover text-center">
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 50%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">조회수</th>
                        <th scope="col">작성시간</th>
                    </tr>
                    </thead>
                    <tbody id="worry-recent-list">
                    </tbody>
                </table>
              </div>
            </div>
          </div><!--최신순 End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row justify-content-center">
              <div class="col-lg-9 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <table class="table table-hover text-center">
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 50%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">조회수</th>
                        <th scope="col">작성시간</th>
                    </tr>
                    </thead>
                    <tbody id="worry-comment-list">
                    </tbody>
                </table>

              </div>
            </div>
          </div><!--댓글순 End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row justify-content-center">
              <div class="col-lg-9 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <table class="table table-hover text-center">
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 50%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">조회수</th>
                        <th scope="col">작성시간</th>
                    </tr>
                    </thead>
                    <tbody id="worry-view-list">
                    </tbody>
                </table>
              </div>
            </div>
          </div><!-- 인기조회순 End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "footer.html" %}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/list.js"></script>

</body>

</html>